<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web 3.0 Simple Training</title>
</head>
<body>
   <h1>Welcome!!!</h1>
   {% if blockchain %}
   {% for block in blockchain.chain %}
   <h3>{{("Block #{}".format(block.index))}}</h3>
   <p>{{("Timestamp: {}".format(block.timestamp))}}</p>
   <p>{{("Data: {}".format(block.data))}}</p>
   <p>{{("Previous Hash: {}".format(block.previous_hash))}}</p>
   <p>{{("Hash: {}".format(block.hash))}}</p>
   {% endfor %}
   {% endif %}
</body>
</html>